#Types of objects in python:

1.immutable objects(int,float,str,bool,tuple)
2.mutable objects(list,set.dictonary)

list

In [5]:
lst1=[1,2,3,4]
lst1.append(6)
print(lst1)
print(len(lst1))
del lst1[2]
print(lst1)

[1, 2, 3, 4, 6]
5
[1, 2, 4, 6]

tuple

In [6]:
tpl1=(1,2,3)
print(tpl1)

(1, 2, 3)

converting list to tuple

In [7]:
ls1= [1,2,3]
my_tuple=tuple(ls1)
print(my_tuple)

(1, 2, 3)

set

In [10]:
s1={4,2,3}
print(s1)

{2, 3, 4}

Dictonary

In [16]:
dc1={ 'name':'proma','age':23,'class':1 }
print(dc1)
    
print(dc1['name'])

{'name': 'proma', 'age': 23, 'class': 1}
proma